<div class="jscode">
  <div class="pa-5"></div>
  <span class="jsline">(<span class="kw-def">function</span>&nbsp;<span class="kw-func">AboutMe</span>(){{"{"}}</span>
  <span class="jsline tab"><span class="kw-def">const</span>&nbsp;<span class="kw-var">oggi</span> = {{"{"}}</span>
  <span class="jsline tab2"><span class="kw-str">"Location"</span>: {{"{"}}</span>
  <span class="jsline tab3"><span class="kw-str">"Galaxy"</span>: <span class="kw-str">"The Milky Way"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"Star"</span>: <span class="kw-str">"The Sun in the Orion Arm"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"Planet"</span>: <span class="kw-str">"The Earth"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"Country"</span>: <span class="kw-str">"USA"</span>,</span>
  <span class="jsline tab2">{{"}"}},</span>
  <span class="jsline tab2"><span class="kw-str">"Tags"</span>: {{"{"}}</span>
  <span class="jsline tab3"><span class="kw-str">"Web"</span>: <span class="kw-str">"JavaScript, HTML, CSS"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"Tech"</span>: <span class="kw-str">"ASP.NET MVC C#, AngularJS, LESS"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"DB"</span>: <span class="kw-str">"Oracle, MSSQL, MySQL, MongoDB<i class="material-icons help" style="font-size: 16px; vertical-align: middle;" matTooltip="Academic knowledge">help_outline</i>"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"Tools"</span>: <span class="kw-str">"GIT, Agile Scrum"</span>,</span>
  <span class="jsline tab3"><span class="kw-str">"Web Services"</span>: <span class="kw-str">"REST, SOAP"</span></span>
  <span class="jsline tab2">{{"}"}},</span>
  <span class="jsline tab2"><span class="kw-str">"Advantages"</span>: <span class="kw-str">"Quick Learner, Good Team Player"</span></span>
  <span class="jsline tab">{{"}"}};</span>
  <span class="jsline tab"><span class="kw-ret">return</span>&nbsp;<span class="kw-var">oggi</span>;</span>
  <span class="jsline">{{"}"}})();</span>
</div>