<div class="pa-15">
  <div class="jscode">
    <span class="jsline"><span class="kw-def">const</span>&nbsp;<span class="kw-var">global</span> = {{"{}"}};</span>
    <span class="jsline">(<span class="kw-def">function</span>&nbsp;<span class="kw-func">ContactMe</span>(<span class="kw-var">g</span>) {{"{"}}</span>
    <span class="jsline tab"><span class="kw-var">g.Email</span> = <a href="mailto:da.otgondavaa@gmail.com"><span class="kw-str">"da.otgondavaa@gmail.com"</span></a>;</span>
    <span class="jsline tab"><span class="kw-var">g.Phone</span> = <a href="tel:3127852468"><span class="kw-str">"(+1)312-785-2468"</span></a>;</span>
    <span class="jsline tab"><span class="kw-var">g.Web</span> = <a href="http://otgondavaa.com"><span class="kw-str">"www.otgondavaa.com"</span></a>;</span>
    <span class="jsline tab"><span class="kw-var">g.Location</span> = <a href="https://goo.gl/66urav"><span class="kw-str">"Bay Area, CA"</span></a>;</span>
    <span class="jsline tab"><span class="kw-var">g.LinkedIn</span> = <a href="https://www.linkedin.com/in/otgondavaa-dashnyam/"><span class="kw-str">"linkedin.com/in/otgondavaa-dashnyam"</span></a>;</span>
    <span class="jsline tab"><span class="kw-var">g.GitHub</span> = <a href="https://github.com/oogii1"><span class="kw-str">"github.com/oogii1"</span></a>;</span>
    <span class="jsline tab"><span class="kw-var">g.</span><span class="kw-func">CanRelocate</span> = <span class="kw-def">function</span> () {{"{"}}</span>
    <span class="jsline tab2"><span class="kw-ret">return</span>&nbsp;<span class="kw-def">true</span>;</span>
    <span class="jsline tab">{{"}"}};</span>
    <span class="jsline tab"><span class="kw-var">g.</span><span class="kw-func">DownloadResume</span> = <span class="kw-def">function</span> () {{"{"}}</span>
    <span class="jsline tab2"><span class="kw-ret">return</span>&nbsp;<a href="/assets/OtgondavaaDashnyamResume.pdf"><span class="kw-str">"OggiResume.pdf"</span></a>;</span>
    <span class="jsline tab">{{"}"}};</span>
    <span class="jsline">{{"}"}})(<span class="kw-var">global</span>);</span>
  </div>
</div>
