<mat-toolbar color="primary" class="main-toolbar">
  <span>
    <img [src]="'/assets/favicon-96x96.png'" />
  </span>

  <a mat-button [routerLink]="menu.routerLink" fxHide.lt-sm *ngFor="let menu of Menus">
    <i class="material-icons">{{menu.icon}}</i>
    <span>{{menu.text}}</span>
  </a>
  <span fxFlex="1 0 0"></span>
  <button mat-button [matMenuTriggerFor]="dropdownMenu" fxHide.gt-xs>
    <i class="material-icons">menu</i>
  </button>
  <mat-menu #dropdownMenu="matMenu" color="primary">
    <button mat-menu-item *ngFor="let menu of Menus" [routerLink]="menu.routerLink">
      <i class="material-icons">{{menu.icon}}</i>
      <span>{{menu.text}}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="pa-15 main-container">
  <mat-card class="main-card main-card-content">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>Otgondavaa Dashnyam</mat-card-title>
      <mat-card-subtitle>A
        <span class="specific">Proactive Efficient</span> Full Stack Web Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>