<div class="pa-15">
  <div class="jscode">
    <span class="jsline">(<span class="kw-def">function</span>&nbsp;<span class="kw-func">LoadWorks</span>() {{"{"}}</span>
    <span class="jsline tab"><span class="kw-def">const</span>&nbsp;<span class="kw-var">works</span> = [{{"{"}} </span>
    <span class="jsline tab2"><span class="kw-str">"Company"</span>: <span class="kw-def">Belong Home, Inc</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Title"</span>: <span class="kw-def">Software Engineer I</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Duration"</span>: <span class="kw-def">Sep 2018 - now</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Location"</span>: <span class="kw-str">"Bay Area, CA US"</span></span>
    <span class="jsline tab">{{"}"}}, {{"{"}}</span>
    <span class="jsline tab2"><span class="kw-str">"Company"</span>: <span class="kw-str">"Z24 LLC"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Title"</span>: <span class="kw-str">"Senior Software Engineer"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Duration"</span>: <span class="kw-str">"Apr 2014 - Aug 2017"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Location"</span>: <span class="kw-str">"Mongolia"</span></span>
    <span class="jsline tab">{{"}"}}, {{"{"}}</span>
    <span class="jsline tab2"><span class="kw-str">"Company"</span>: <span class="kw-str">"GrapeCity Mongolia"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Title"</span>: <span class="kw-str">"Software Engineer"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Duration"</span>: <span class="kw-str">"Jan 2012 - Apr 2014"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Location"</span>: <span class="kw-str">"Mongolia"</span></span>
    <span class="jsline tab">{{"}"}}, {{"{"}}</span>
    <span class="jsline tab2"><span class="kw-str">"Company"</span>: <span class="kw-str">"International University of Ulaanbaatar"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Title"</span>: <span class="kw-str">"Assistant in Computer Science Department"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Duration"</span>: <span class="kw-str">"Sep 2010 - Jan 2012"</span>,</span>
    <span class="jsline tab2"><span class="kw-str">"Location"</span>: <span class="kw-str">"Mongolia"</span></span>
    <span class="jsline tab">{{"}"}}];</span>
    <span class="jsline tab"><span class="kw-ret">return</span>&nbsp;<span class="kw-var">works</span>;</span>
    <span class="jsline">{{"}"}})();</span>
  </div>
</div>
